body 
{
   margin: 0 auto; 
   background-color: black;
}
a
{ 
    text-decoration:none;
    color:#0090cf;  
}

/*a:link{	color:#444444;}*/

a:hover{
    color:#444444;
    text-decoration:underline;
}

a:visted{color:#444444;}

a:active{color:black;}

h1
{
    font-size:40px;
    color:white; 
}

h2{color:blue }

h3{color:blue }

input:focus
{
  border: 2px solid yellow;
}

button:hover
{
    background-color: yellow;
}
textarea:focus 
{
  border: 2px solid yellow;
}
#wrapper
{
    margin  : 0 auto;
    padding: 10px;
    width: 700px;
    background-color:#F0F0F0;
    /*border-top-right-radius:20px;
    border-top-left-radius:20px;*/
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    -moz-border-bottom-right-radius:20px;
    -moz-border-bottom-left-radius:20px;
    /*-moz-border-top-right-radius: 20px;
    -moz-border-top-left-radius: 20px;*/
}
#content
{
    width: 100%;
}
#header
{
    margin: 0 auto;
    width: 860px;
    height: 70px;
    padding: 20px;
    text-align:center;
    background: #1111C9;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    -moz-border-bottom-right-radius:20px;
    -moz-border-bottom-left-radius:20px;
}
#header_content
{
    /*margin: 0 auto;*/
}
#status_wrapper
{
    height: 15px;
}
#status
{
    /*visibility:hidden;*/
    display: none;
    margin: 0 auto;
    width: 200px;
    text-align:center;
    background-color:yellow;
}
#login
{
    text-align:center;
    width: 100%;
}
#demo
{
    margin: 0 auto;
    /*height: 250px;*/
    width: 270px;
    border-top-style:solid;
    border-top-color:#444444;
    border-top-width: 1px;
    
    border-bottom-style:solid;
    border-bottom-color:#444444;
    border-bottom-width: 1px;
}

#demo_header
{
    
}

#demo_title
{
    /*width: 150px;*/
    text-align:center;
}
#home
{
    text-align:center;
    /*width: 50px;*/
}
#demo_content   
{
    
}

.folder
{
    
}
#show_docs
{
    text-align:center;
}
#docs
{
    /*border-left-style:solid;
    border-left-color:#444444;
    border-left-width: 1px;
    border-right-style:solid;
    border-right-color:#444444;
    border-right-width: 1px;*/
}
#heading
{
    text-align:center;
}
#footer
{
   color:#444444;
   font-size:80%;
   text-align:center;
}
