body 
{
    
}

a{text-decoration:none;}

a:link{	color:red;}

a:hover{color:red;}

a:visted{color:red;}

a:active{color:red;}

h1{color:blue; }

h2{color:blue }

h3{color:blue }

#content
{
    text-align:center;
    margin:0 auto;
}
